@import 'src/styles/theme';

.ele-carousel {
  height: 400px;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  &-item {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .server-image-h5 {
    height: unset;
  }
}

.submit-button {
  height: 80px;
  width: 450px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  @extend %flex;
}
