

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="aliyun-oss-4.4.4.min.js"></script>  
  <title>双链小超全流程供应链系统@V181218T0032</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <script type="text/javascript" src="aliyun-oss-4.4.4.min.js"></script>  
</head>

<body>
  <div id="root"></div>
</body>

</html>










