@import '../flex-line-item.scss';

.product {
  @extend %flex-line-template;
  padding: 0 0 10px 0;
  border-radius: 30px;
  margin-bottom: 20px;

  &-cover {
    @extend %flex-center;
    height: 350px;

    &-image {
      @extend %flex-center;
      height: 350px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }
  }

  &-info {
    padding: 10px 15px;

    &-title {
      @extend %flex-row;
      color: $text-color;
      @include lamp-clamp(2);

      &-tag {
        padding: 3px 10px;
        border: 1px solid $red-color;
        color: $red-color;
        font-size: 22px;
        border-radius: 10px;
      }

      &-txt {
        font-size: 26px;
        line-height: 32px;
        margin-left: 10px;
      }
    }

    &-brief {
      font-size: 32px;
      color: $red-color;
      @extend %flex-row;
      align-items: center;

      .tag-tiny {
        @include text-ellipsis;
      }
    }
  }
}
