@import 'src/styles/theme';

.image-placeholder {
  background: #f4f4f4;
  color: $white;
  @extend %flex-center;
}

.ele-store-location {
  padding: 0 20px;
  background-color: $white;

  .header {
    @extend %flex;
    padding: 20px 0;

    &-image {
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }

    &-right {
      width: 100%;
      overflow: hidden;
      padding-left: 20px;

      &-name {
        font-size: 28px;
        margin-left: 10px;
        height: 48px;
        line-height: 48px;
        color: $black;
        padding: 12px 0;
        @include text-ellipsis;
      }

      &-summary {
        font-size: 28px;
        color: $text-color-lighter;
        height: 36px;
        line-height: 36px;
        @include text-ellipsis;
      }
    }
  }

  .info-item {
    @extend %flex;
    align-items: center;
    line-height: 80px;
    border-top: 1px solid rgb(250, 240, 250);
    .iconfont {
      color: $primary-color;
    }

    &-txt {
      margin-left: 20px;
      font-size: 30px;
      color: $text-color;
      @include text-ellipsis;
    }
  }
}

.ele-more-actions {
  @extend %flex-center;

  &-txt {
    font-size: 30px;
    margin-right: 40px;
  }
}

.ele-notice-bar {
  @extend %flex-row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 10px 40px;

  &-icon {
    color: $orange-color;
    height: 50px;
  }

  &-messages {
    height: 50px;
    width: 100%;
    margin-left: 20px;

    &-item {
      @extend %flex;
      align-items: center;
      padding-left: 40px;
      &-txt {
        color: $text-color-light;
        font-size: 30px;
      }
    }
  }
}

.ele-navigation-box {
  .navigation-box-img {
    margin-bottom: 20px;
    width: 80px !important;
  }
}
