@import 'src/styles/theme';

.flex-info-list {
  background-color: $white;

  .info-item {
    padding: 0 10px;
  }

  &-actions {
    @extend %flex-row;
    justify-content: flex-end;
    border-top: $border-default;
    padding: 20px;
  }
}

.flex-info-list.section-bar--bordered {
  .section-bar-header {
    border-bottom: none;
  }

  .info-item:last-child {
    border-bottom: none;
  }
}
